[submodule "docs/intro"]
	path = docs/intro
	url = https://github.com/raineblog/intro
[submodule "material"]
	path = material
	url = https://github.com/raineblog/mkdocs-material
[submodule "script"]
	path = script
	url = https://github.com/raineblog/mkdocs-script
[submodule "docs/assets"]
	path = docs/assets
	url = https://github.com/raineblog/assets
