[project]
name = "whk"
version = "1.0.0"
description = "RainPPR's WHK Blog"
readme = "README.md"
requires-python = ">=3.12,<3.13"
dependencies = []

[dependency-groups]
dev = [
    {include-group = "build"},
    {include-group = "export"},
    "poethepoet>=0.37.0",
]

export = [
    "playwright>=1.55.0",
    "pyyaml>=6.0.3",
]

build = [
    "mkdocs>=1.6.1",
    "mkdocs-glightbox>=0.5.2",
    "mkdocs-minify-plugin>=0.8.0",
    "pymdown-extensions>=10.16.1",
]

[tool.poe.tasks]
toc = "uv run script/toc.py"
generate = "uv run script/generate.py"

update = "git submodule update --remote"
push = [
    { cmd = "git add ." },
    { cmd = "git commit -m \"[build] Update\"" },
    { cmd = "git push" },
]

serve = [
    "generate",
    { cmd = "mkdocs serve --livereload --dirty" },
]

build = [
    "generate",
    { cmd = "mkdocs build --strict" },
]

apt = [
    { cmd = "echo \"set man-db/auto-update false\" | sudo debconf-communicate" },
    { cmd = "sudo dpkg-reconfigure man-db"},
    { cmd = "playwright install --with-deps chromium"},
    { cmd = "sudo apt-get install -y pdf2svg"},
]

export = [
    "apt",
    { cmd = "uv run script/export.py" },
]
