:root {
    --md-code-font: 'Fira Code', 'source-code-pro', sans-serif;
    --md-text-font: 'Aleo', "FZNewShuSong", 'Zen Old Mincho', 'Noto Serif SC', 'source-han-serif-sc', serif;
}

.recently-updated {
    font-family: var(--md-text-font) !important;
}

html {
    scroll-behavior: smooth;
}

.md-typeset div.arithmatex {
    overflow: hidden !important;
}

.md-typeset div.arithmatex .katex-display {
    margin-top: -0.5em !important;
    margin-bottom: -0.5em !important;
}

.md-typeset__table {
    display: block !important;
}

.md-typeset table:not(.highlighttable) {
    display: table !important;
}

.md-typeset table:not([class]) th {
    min-width: 0rem;
}

h2, h3 {
    text-align: center;
}

@media print {
    .not-printable {
        display: none !important;
    }

    code, pre {
        white-space: pre-wrap;
        overflow: hidden;
    }

    h1 {
        text-align: center;
    }

    .md-typeset .grid {
        grid-template-columns: 1fr 1fr !important;
    }

    a {
        text-decoration: underline !important;
    }
}

no-wrap, .no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.md-typeset .Box-body {
    overflow: hidden !important;
}
