name: Auto Resize Images

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:
    inputs:
      skip_update:
        description: 'Skip the update step'
        required: false
        default: false
        type: boolean

permissions:
  packages: read
  contents: write
  pull-requests: write

jobs:
  check-pr:
    name: Check Open PRs
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.check.outputs.should_run }}
    steps:
      - name: Check for existing open Pull Request
        id: check
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Check if a PR from the branch 'resize/update' is already open
          count=$(gh pr list \
            --repo "${{ github.repository }}" \
            --head "resize/update" \
            --state open \
            --json number \
            --jq 'length')
          
          if [ "$count" -gt 0 ]; then
            echo "::notice::An open resize PR already exists. Skipping execution."
            echo "should_run=false" >> $GITHUB_OUTPUT
          else
            echo "No open resize PR found. Proceeding."
            echo "should_run=true" >> $GITHUB_OUTPUT
          fi

  resize:
    name: Run Resize
    needs: check-pr
    if: needs.check-pr.outputs.should_run == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Action Image Resize
        if: github.event.inputs.skip_update != 'true'
        uses: RainPPR/action-image-resize@main

      - name: Create Pull Request
        if: github.event.inputs.skip_update != 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "[bot] automatic blog updates"
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          branch: resize/update
          delete-branch: true
          title: "[bot] Resize Updates"
          body: |
            Automated images updates generated by [`RainPPR/action-image-resize`](https://github.com/marketplace/actions/action-image-resize).
          add-paths: |
            docs/*.png
            docs/*.jpg
            docs/*.jpeg
            docs/*.webp
            docs/*.avif
