name: Build Pages

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: |
          pip install -r requirements.txt
          make build
      - uses: JamesIves/github-pages-deploy-action@v4
        if: '!startsWith(github.event.head_commit.message, ''[push]'')'
        with:
          folder: site
