name: Build Pages

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      deployed: ${{ steps.check-deployed.outputs.deployed }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: |
          pip install -r requirements.txt
          make build
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: Deploying to gh-pages from
      - uses: actions/checkout@v6
        with:
          ref: gh-pages
          path: gh-pages
          sparse-checkout: |
            sitemap.xml
            .deployed
      - id: check-deployed
        run: |
          if [ -f gh-pages/.deployed ]; then
            echo "deployed=true" >> $GITHUB_OUTPUT
          else
            echo "deployed=false" >> $GITHUB_OUTPUT
          fi
      - uses: actions/upload-artifact@v4
        with:
          name: sitemap
          path: gh-pages/sitemap.xml
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    if: needs.build.outputs.deployed=='false'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: gh-pages
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: .
      - id: deployment
        uses: actions/deploy-pages@v4
      - run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          touch .deployed
          git add .deployed
          git commit -m "Mark deployment as complete"
          git push
