name: Check Build

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  check:
    name: Check Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: |
          pip install -r requirements.txt
          make build
