name: Check Pull Request

on:
  pull_request:
    branches:
      - master
      - main
    paths-ignore:
      - '.gitignore'
      - 'README.md'
      - 'todo.ipynb'
  workflow_dispatch:

jobs:
  build:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v6
        with:
          submodules: 'true'
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12' 
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Page Build
        run: make build
