name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

concurrency:
  group: "pages"
  cancel-in-progress: true

permissions:
  contents: write
  pages: write
  packages: read
  id-token: write

jobs:
  deploy:
    name: Build and Deploy
    if: |
      (github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') ||
      (github.event_name == 'push' && contains(github.event.head_commit.message, '[ci]'))
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/raineblog/mkdocs-docker:latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6
        with:
          submodules: "true"
          fetch-depth: 0
          fetch-tags: false
      - run: git config --global --add safe.directory "/__w/whk/whk"

      - name: Cache
        uses: actions/cache@v5
        with:
          path: .cache
          key: ${{ runner.os }}-mkdocs-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: |
            ${{ runner.os }}-mkdocs-

      - name: Build Static Site
        run: mkdocs-build

      - name: Upload Lint Results
        uses: RainPPR/upload-job-summary@v1.0.0
        with:
          path: lint.log
          overwrite: 'true'

      - name: Push to gh-pages Branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          full_commit_message: "Deploying to gh-pages from ${{ github.sha }}"
