name: Export to PDF

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  export:
    name: Export
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v6
        with:
          submodules: 'true'
      - name: Setup Typst
        uses: typst-community/setup-typst@v4
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install Dependencies
        run: pip install -r script/requirements.txt
      - name: Export to PDF
        run: |
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db
          playwright install --with-deps chromium
          sudo apt-get install -y pdf2svg
          make export2pdf
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: ./cache/*.pdf
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: export
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v7
      with:
        merge-multiple: true
        path: ./
    - name: Get Time
      id: gettime
      run: echo "utc_time=$(date -u +'%Y%m%d%H%M')" >> $GITHUB_OUTPUT
    - name: Upload to Release
      uses: softprops/action-gh-release@v2
      with:
        files: ./*.pdf
        tag_name: ${{ steps.gettime.outputs.utc_time }}
