name: Export to PDF

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  export:
    name: Export
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - uses: TeX-Live/setup-texlive-action@v3
        with:
          packages: |
            scheme-basic
            latexmk
            titletoc
            geometry
            pdfpages
            luacode
            hyperref
            xcolor}
            titlesec
            fancyhdr
            etoolbox
            silence
          cache: true
          update-all-packages: true
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: pip install -r script/requirements.txt
      - run: |
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db
          playwright install --with-deps chromium
      - run: make export2pdf
      - uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: ./cache/*.pdf
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: export
    steps:
    - uses: actions/download-artifact@v7
      with:
        merge-multiple: true
        path: ./
    - id: nowtime
      run: echo "utc_time=$(date -u +'%Y%m%d%H%M')" >> $GITHUB_OUTPUT
    - uses: softprops/action-gh-release@v2
      with:
        files: ./*.pdf
        tag_name: ${{ steps.nowtime.outputs.utc_time }}
