name: Export to PDF

on:
  schedule:
    - cron: '28 6 1 * *'
  workflow_dispatch:

permissions:
  contents: write
  packages: read
  id-token: write

jobs:
  export:
    name: Export
    timeout-minutes: 20
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/rainppr/mkdocs-exporter:least
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'
      - run: python exporter/export.py
      - uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: ./cache/*.pdf
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: export
    steps:
    - uses: actions/download-artifact@v7
      with:
        merge-multiple: true
        path: ./
    - id: nowtime
      run: echo "utc_time=$(date -u +'%Y%m%d%H%M')" >> $GITHUB_OUTPUT
    - uses: softprops/action-gh-release@v2
      with:
        files: ./*.pdf
        tag_name: ${{ steps.nowtime.outputs.utc_time }}
